@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1 var(--delay, 0ms);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);

    @keyframes cell-ripple {
        0% {
            opacity: 0.4;
        }
        50% {
            opacity: 0.8;
        }
        100% {
            opacity: 0.4;
        }
    }

    --radius-sm: calc(var(--radius) - 4px);

    --radius-md: calc(var(--radius) - 2px);

    --radius-lg: var(--radius);

    --radius-xl: calc(var(--radius) + 4px)
}

:root {
    --radius: 0.625rem;
    --background: #f5f5f5; /* neutral-100 */
    --foreground: #171717; /* neutral-900 */
    --card: #f5f5f5; /* neutral-100 */
    --card-foreground: #171717; /* neutral-900 */
    --popover: #f5f5f5; /* neutral-100 */
    --popover-foreground: #171717; /* neutral-900 */
    --primary: #a3a3a3; /* neutral-400 */
    --primary-foreground: #f5f5f5; /* neutral-100 */
    --secondary: #d4d4d4; /* neutral-300 */
    --secondary-foreground: #171717; /* neutral-900 */
    --muted: #d4d4d4; /* neutral-300 */
    --muted-foreground: #737373; /* neutral-600 */
    --accent: #d4d4d4; /* neutral-300 */
    --accent-foreground: #171717; /* neutral-900 */
    --destructive: #ef4444; /* use a standard red for destructive */
    --border: #e5e5e5; /* neutral-200 */
    --input: #e5e5e5; /* neutral-200 */
    --ring: #a3a3a3; /* neutral-400 */
    --chart-1: #737373; /* neutral-600 */
    --chart-2: #a3a3a3; /* neutral-400 */
    --chart-3: #d4d4d4; /* neutral-300 */
    --chart-4: #e5e5e5; /* neutral-200 */
    --chart-5: #f5f5f5; /* neutral-100 */
    --sidebar: #f5f5f5; /* neutral-100 */
    --sidebar-foreground: #171717; /* neutral-900 */
    --sidebar-primary: #a3a3a3; /* neutral-400 */
    --sidebar-primary-foreground: #f5f5f5; /* neutral-100 */
    --sidebar-accent: #d4d4d4; /* neutral-300 */
    --sidebar-accent-foreground: #171717; /* neutral-900 */
    --sidebar-border: #e5e5e5; /* neutral-200 */
    --sidebar-ring: #a3a3a3; /* neutral-400 */

    /* cursors */
    --cursor-pointer: url("/vectors/cursor-pointer.svg"), pointer;
    --cursor-default: url("/vectors/cursor-default.svg"), default;
    --cursor-text: url("/vectors/cursor-text.svg"), text;
}

.dark {
    --background: #0f0f0f; /* neutral-900 */
    --foreground: #f5f5f5; /* neutral-100 */
    --card: #262626; /* neutral-800 */
    --card-foreground: #f5f5f5; /* neutral-100 */
    --popover: #262626; /* neutral-800 */
    --popover-foreground: #f5f5f5; /* neutral-100 */
    --primary: #e5e5e5; /* neutral-200 */
    --primary-foreground: #262626; /* neutral-800 */
    --secondary: #404040; /* neutral-700 */
    --secondary-foreground: #f5f5f5; /* neutral-100 */
    --muted: #404040; /* neutral-700 */
    --muted-foreground: #e5e5e5; /* neutral-200 */
    --accent: #404040; /* neutral-700 */
    --accent-foreground: #f5f5f5; /* neutral-100 */
    --destructive: #ef4444; /* same red */
    --border: #262626; /* neutral-800 */
    --input: #262626; /* neutral-800 */
    --ring: #a3a3a3; /* neutral-400 */
    --chart-1: #f5f5f5; /* neutral-100 */
    --chart-2: #d4d4d4; /* neutral-300 */
    --chart-3: #a3a3a3; /* neutral-400 */
    --chart-4: #737373; /* neutral-600 */
    --chart-5: #404040; /* neutral-700 */
    --sidebar: #262626; /* neutral-800 */
    --sidebar-foreground: #f5f5f5; /* neutral-100 */
    --sidebar-primary: #e5e5e5; /* neutral-200 */
    --sidebar-primary-foreground: #262626; /* neutral-800 */
    --sidebar-accent: #404040; /* neutral-700 */
    --sidebar-accent-foreground: #f5f5f5; /* neutral-100 */
    --sidebar-border: #262626; /* neutral-800 */
    --sidebar-ring: #a3a3a3; /* neutral-400 */
}

@layer components {
    .cursor-default {
        cursor: var(--cursor-default) !important;
    }

    .cursor-pointer {
        cursor: var(--cursor-pointer) !important;
    }

    .cursor-text {
        cursor: var(--cursor-text) !important;
    }

    .hero-section {
        @apply relative flex min-h-screen w-full flex-col items-start justify-start overflow-hidden
    }

    .hero-heading {
        @apply relative z-10 mx-auto max-w-7xl text-center font-bold text-neutral-800 text-xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-6xl dark:text-neutral-100
    }

    .hero-sub-heading {
        @apply relative z-10 mx-auto mt-4 max-w-7xl text-center text-lg sm:text-3xl md:text-4xl lg:text-5xl xl:text-5xl text-neutral-800 dark:text-neutral-500
    }

    .social-link {
        @apply relative flex items-center;
    }

    .social-icon {
        @apply w-6 h-6;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
        cursor: var(--cursor-default);
    }

    button, a {
        cursor: var(--cursor-pointer);
    }

    input, textarea {
        cursor: var(--cursor-text);
    }
}
